In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [ ]:
# Loading the deliveries data as df
df=pd.read_csv('/kaggle/input/ipldata/deliveries.csv',index_col='match_id')

In [ ]:
df

In [ ]:
# Checking the info and and type of features
df.info()

In [ ]:
# Finding the null value counts
df.isnull().sum()

In [ ]:
# Dropping the Null value columns as they are having large number of null values
df.dropna(axis=1,inplace=True)

In [ ]:
df.isnull().sum()

In [ ]:
# importing plotting library matplot.
import matplotlib.pyplot as plt
plt.style.use('dark_background')# changing the plot style to dark background.

## Q1.Who is the leading run scorer in the ipl?

In [ ]:
# Grouping the data according to batsman and getting the total sum of runs of respective batsman.
# selecting top 10 batsman only
q1=df.groupby('batsman')['batsman_runs'].sum().sort_values(ascending=False).head(10)
q1=pd.DataFrame(q1) # Changing the format in dataframe.
q1

In [ ]:
# Plotting the data for total runs scored to answer the question raised.
q1.plot(kind='bar',figsize=(7,7),grid=True,title='Top Performing Batsman',xlabel='Batsman',ylabel='Total runs scored',legend=False)

### Top leading batsman in IPL 2008 to 2019 is Virat Kohli .

## Q2.Who received the most player of the match award?

In [ ]:
# Loading the 2nd dataset of matches as df2.
df2=pd.read_csv('/kaggle/input/ipldata/matches.csv')
df2

In [ ]:
df2.columns # Checking the coloumns.

In [ ]:
# getting of top 5 players who has been player of the match.
q2=df2['player_of_match'].value_counts().head(5)
q2

In [ ]:
# Plotting the above analysis to confirm the answer.
q2.plot(kind='bar',figsize=(7,7),grid=True,title='Top Player of the match',xlabel='Batsman',ylabel='Number of player of match won',legend=False)

### Chris Gayle was the most rewarded with player of the match.

## Q3.What is the biggest margin of wins by runs for each season?

In [ ]:
# Grouping by season and selecting win by runs colums for getting maximum value.
q3=df2.groupby('season')['win_by_runs'].max()
q3

In [ ]:
# Plotting the above data
q3.plot(kind='bar',figsize=(7,7),grid=True,title='Biggest margin win by runs',xlabel='Season',ylabel='Win by Runs',legend=False)

### The biggest margin by win was at the season of 2017.

In [ ]:
df2[df2['win_by_runs']==146]

### And the match was between Mumbai Indians and Delhi Daredevils won by Mumbai Indians.

## Q4. How many matches does each team played with their no. of matches won & their win percentage?

In [ ]:
# Getting value counts of each team as team 1 in data set
t1=df2.team1.value_counts()
t1

In [ ]:
# Getting value counts of each team as team 2 in data set
t2=df2.team2.value_counts()
t2

In [ ]:
# Adding the count of each team as team 1 and and team 2.
tfinal=t1+t2
tfinal=pd.DataFrame(tfinal)

In [ ]:
# Renameing the column with 0 label to Total Matches
tfinal.rename(columns={0:'Total Matches'},inplace=True)

In [ ]:
# Adding new column to tfinal dataset which is winning count of each team
tfinal['Matches Won']=df2.winner.value_counts()

In [ ]:
# Addng new column % of winning which obtain by this formula = (matches won*100)/ (Total matches played)
tfinal['% of winning']=tfinal['Matches Won']*100/tfinal['Total Matches']
tfinal['% of winning']=tfinal['% of winning'].round(2)

In [ ]:
tfinal

In [ ]:
# Plotting the % of winning column obtained above.
tfinal['% of winning'].plot(kind='bar',figsize=(5,5),grid=True,title='% of winning',xlabel='Teams',ylabel='Matches Played',legend=False)

### From above visualisation it is clear that Rising pune supergiants and Delhi Daredevils have same winning percentage that is 62.5% which is highest among all

## Q5.Let's have a head to head stat between teams

In [ ]:
# Defining new function t1 and t2 which will be indaicating 2 different teams.
def htha (t1,t2):
    data=df2[((df2.team1 == t1) & (df2.team2 == t2)) | ((df2.team2 == t1) & (df2.team1 == t2))]
    # in above statement data for given 2 teams are selected where they were in the form of team 1 and team 2 opposite to each other,
    hth=data.winner.value_counts() # Getting the winning count by value count function,
    hth.plot(kind='bar',figsize=(3,3),xlabel='Teams faced each other',ylabel='Number of Wins',title='Head To Head analysis', grid='True')
    # Printing the analysis.
    print('Teams :\n',hth)
    print(data)

In [ ]:
htha("Kolkata Knight Riders", "Mumbai Indians") # selecting KRK and MI team for their face to face analysis.

# ----**THE END**----